.footer {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-size: 120%;
    text-align: center;
    background-color: rgb(172, 158, 158);
    padding: 20px;
}

.parag {
    font-size: 2rem;
}