.App {
  text-align: left;
  display: grid;
  height: 100%;
   grid-template-columns: 1.5fr 4fr 2fr;
   grid-template-areas: 
    "list note organiser"
  "footer footer footer";
}

#list {
  grid-area:list;
}

#note {
  grid-area: note;
}

#organiser {
  grid-area: organiser;
  background-color: rgb(203, 203, 221);
}

#footer {
  grid-area: footer;
}

@media (max-width: 1200px) {
  .App {
    text-align: left;
    display: grid;
    height: 100%;
     grid-template-columns: 1fr 3fr;
     grid-template-areas: 
      "list note"
      "organiser"
    "footer";
  }
}

@media (max-width: 500px) {
  .App {
    text-align: left;
    display: grid;
    height: 100%;
     grid-template-columns: 1fr;
     grid-template-areas: 
      "list "
      "note"
      "organiser"
    "footer";
  }
}
